.contan {
  width: 93%;
}
.landing .text {
  width: 60%;
}
.servies .serv-cont {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 40px;
  row-gap: 60px;
}
.portfolio .imgs-hold .box {
  flex-basis: 50%;
}
.stats .contan .box {
  flex-basis: 50%;
}
.subscribe .contan{
flex-direction: column;
}
.subscribe .contan p{
  margin-left: 30px 0 0;
}